/* Random classes [#0] */
.container {
  padding: 0 1.4rem;
}

.container-wrapper {
  position: relative;
  max-width: 365px;
  margin: 0 auto;
}

.overlay {
  cursor: pointer;
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #000000a1;
}
/* =========================== */

/* Header styles [#1] */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 0;
}

.header-button {
  line-height: 0;
}

.header-logo-img {
  width: 4rem;
  height: 2.4rem;
}

.header-burger-img {
  width: 2.6rem;
  height: 2.6rem;
}

/* Mobile menu navigation */

.main-nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  transform: translateX(100%);
  transition: all 0.4s ease-in-out;

  background-color: var(--off-white);
  width: 75vw;
  height: 100vh;

  padding: 2.4rem 2.6rem;
}

.active-header-nav .main-nav {
  transform: translateX(0);
}

.main-nav-wrapper {
  max-width: 330px;

  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.main-nav-button {
  align-self: flex-end;

  flex-grow: 0;
  line-height: 0;
}

.main-nav-button img {
  width: 2.6rem;
  height: 2.6rem;
}

.main-nav .main-nav-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-nav-list a:link,
.main-nav-list a:visited {
  font-weight: 400;
  font-size: 1.8rem;
}
/* =========================== */

.main-article {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.main-article-img {
  width: 100%;
}

.main-article-title {
  font-size: 4.4rem;
  line-height: 1.1;
  color: var(--very-dark-blue);
}

.main-article-descriptions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.main-article-description {
  font-size: 1.55rem;
  line-height: 1.5;
  color: var(--dark-grayish-blue);
}

.main-article-link:link,
.main-article-link:visited {
  display: inline-block;
  background-color: var(--soft-red);
  color: var(--off-white);
  font-weight: 400;
  padding: 1.1rem 2.2rem;
  font-size: 1.55rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
