/* Header styles [#1] */
header {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 1rem;
}

.header-button {
  line-height: 0;
}

.header-logo-img {
  width: 4rem;
  height: 2.4rem;
}

.header-burger-img {
  width: 2.6rem;
  height: 2.6rem;
}

/* Mobile menu navigation */

.main-nav {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: all 0.4s ease-in-out;

  background-color: var(--off-white);
  width: 75vw;
  height: 100vh;

  padding: 2.4rem 2.6rem;
}

.active-header-nav .main-nav {
  transform: translateX(0);
}

.main-nav-wrapper {
  max-width: 330px;

  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.main-nav-button {
  align-self: flex-end;

  flex-grow: 0;
  line-height: 0;
}

.main-nav .main-nav-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main-nav-list a:link,
.main-nav-list a:visited {
  font-weight: 400;
  font-size: 1.8rem;
}
/* =========================== */
